<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<title>Index Page</title>  
</head>  
<body>  
<form action="save" method="post">
 <h1>Hello testing 123</h1>
<table>  
<tr>  
<td><label>User Name</label></td>
<td><input type="text" name="name"></input></td>
 </tr>  
<tr>  
<td><label>Email</label></td>
<td><input type="text" name="email"></input></td>
</tr>  
<tr>  
<td></td>  
<td><input type="submit" value="Submit"></input></td>
</tr>  
</table>  
</form>  
</body>  
</html>  